This notebook has been used just to get a fast feedback concerning the functionalities. Thus, in this notebook, no checks are performed for data format.

In [1]:
from dotenv import load_dotenv
import sqlalchemy
import os
import sys
sys.path.append('../')
from backend import api_functionalities
from IPython.display import display
import pandas as pd

Creation of a new Person

In [3]:
load_dotenv() #Allows to load the variables present in the .env file
db_connection_data = {"host":os.environ.get('db_hostname'),
                        "db_name":os.environ.get('db_name'),
                        "user":os.environ.get('db_user'),
                        "psw":os.environ.get('db_psw')}
engine = sqlalchemy.create_engine(f'mysql+mysqldb://{db_connection_data["user"]}:{db_connection_data["psw"]}@{db_connection_data["host"]}/{db_connection_data["db_name"]}') # Connect to database

In [7]:
first_name = "Corrado"
last_name = "Fasana"
gender = "Male"
email = "corrado.fasana@prova.it"
ip_address = "192.168.2.1"
country = "IT"

try:
    api_functionalities.create_new_person(engine, first_name, last_name, email, gender, ip_address, country)
    print("Person created successfully")
except Exception as e:
    print(e)

Invalid parameter 'country'. This parameter cannot be empty and should be a string of at most 2 characters long.

Obtain list of users by country

In [5]:
country = "IT"

try:
    df = api_functionalities.get_people_by_country(engine, country)
    display(df)
except Exception as e:
    print(e)

,id,first_name,last_name,email,gender,ip_address
0,476,Jethro,Fantham,jfanthamd7@google.com.au,Male,78.68.144.142
1,1462,Barney,Surridge,bsurridgect@e-recht24.de,Polygender,156.164.194.166
2,3001,Corrado,Fasana,corrado.fasana@prova.it,Male,192.168.2.1
3,3002,Corrado,Fasana,corrado.fasana@prova.it,Malea,127.0.0.1

Obtain count of users by country

In [9]:
country = "IR"

try:
    count = api_functionalities.get_people_count_by_country(engine, country)
    print(f"The number of users for country {country} is {count}")
except Exception as e:
    print(e)

The number of users for country IR is 13

Obtain people distribution by gender

In [3]:
try:
    df = api_functionalities.get_people_gender_distribution(engine)
    pd.set_option("display.precision", 2)
    display(df)
except Exception as e:
    print(e)

        Gender  Count  Distribution (%)
0         Male   1320         43.970686
1       Female   1403         46.735510
2   Polygender     47          1.565623
3  Genderfluid     45          1.499001
4      Agender     56          1.865423
5  Genderqueer     42          1.399067
6     Bigender     47          1.565623
7   Non-binary     41          1.365756
8        Malea      1          0.033311

Obtain ip address distribution over classes

In [3]:
try:
    df = api_functionalities.get_ip_address_distribution_by_class(engine)
    pd.set_option("display.precision", 2)
    display(df)
except Exception as e:
    print(e)

   Count  Distribution (%)
A   1477             49.20
B    747             24.88
C    378             12.59
D    186              6.20
E    214              7.13

Obtain most common email domain

In [3]:
try:
    domains, count = api_functionalities.get_most_common_domain(engine)
    print(f"The most commons domains are {domains} which occurr {count} times each.")
except Exception as e:
    print(e)

(['altervista.org'], 15)

Obtain correlation between country and domain

In [4]:
try:
    correlation = api_functionalities.get_country_domain_correlation(engine)
    print("The correlation between Country and Domain is {:.3f}".format(correlation))
except Exception as e:
    print(e)

The correlation between Country and Domain is 0.055

Obtain correlation between domain and gender

In [3]:
try:
    correlation = api_functionalities.get_gender_domain_correlation(engine)
    print("The correlation between Gender and Domain is {:.3f}".format(correlation))
except Exception as e:
    print(e)

The correlation between Gender and Domain is 0.206

Obtain email patters

In [3]:
try:
    df = api_functionalities.get_common_email_patterns(engine)
    display(df)
except Exception as e:
    print(e)

flast         2945
first.last       2
firstlast        0
lastfirst        0
last.first       0
f.last           0
firstl           0
first.l          0
first            0
last             0
dtype: int64

Other analysis: Gender-Country correlation

In [3]:
try:
    correlation = api_functionalities.get_gender_country_correlation(engine)
    print("The correlation between Gender and Country is {:.3f}".format(correlation))
except Exception as e:
    print(e)

The correlation between Gender and Country is 0.193

Other analysis: Gender distribution over countries

In [3]:
try:
    df = api_functionalities.get_gender_distribution_by_country(engine)
    pd.set_option("display.precision", 2)
    display(df)
except Exception as e:
    print(e)

    Country      Gender  Count  Distribution (%)
379      AD        Male      1            100.00
148      AE        Male      1             50.00
429      AE    Bigender      1             50.00
38       AF      Female      7             50.00
105      AF        Male      7             50.00
..      ...         ...    ...               ...
208      ZA        Male      5             38.46
358      ZA  Polygender      2             15.38
96       ZM      Female      2             50.00
404      ZM        Male      2             50.00
165      ZW      Female      1            100.00

[441 rows x 4 columns]