# This notebook is meant to use the developed functionalities.

In [1]:
import requests
from IPython.display import display
import pandas as pd

## Creation of a new Person

In [5]:
params = {'first_name' : 'Corrado',
          'last_name' : 'Fasana',
          'gender' : "Male",
          'email' : "corrado.fasana@mail.it",
          'ip_address' : "192.168.1.2",
          'country' : "CN"
}

resp = requests.get('http://127.0.0.1:8000/create_person', params)
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"Person created successfully."

## Obtain list of users by country

In [2]:
params = {
          'country' : "CN"
}

resp = requests.get('http://127.0.0.1:8000/get_people_by_country', params)
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
        try:
            display(pd.read_json(resp.text))
        except Exception as e:
            print(resp.text)

,id,first_name,last_name,email,gender,ip_address
0,1002,Flory,Boreham,fboreham1@blog.com,Genderfluid,136.96.40.124
1,1004,Janetta,O'Hagirtie,johagirtie3@google.co.uk,Female,254.129.191.35
2,1005,Vivyanne,Watmough,vwatmough4@ftc.gov,Female,4.147.90.123
3,1008,Arabella,Noton,anoton7@rediff.com,Female,238.57.200.33
4,1012,Reggis,Drysdall,rdrysdallb@gnu.org,Male,12.121.228.57
...,...,...,...,...,...,...
348,2988,Nowell,Codron,ncodronrf@homestead.com,Male,6.36.79.10
349,2991,Evy,Mumford,emumfordri@thetimes.co.uk,Agender,10.243.81.26
350,2995,Urbain,Siveyer,usiveyerrm@tuttocitta.it,Male,0.167.111.79
351,2997,Trip,Ochterlony,tochterlonyro@about.me,Male,228.89.100.97
352,3002,Corrado,Fasana,corrado.fasana@mail.it,Male,192.168.1.2

## Obtain count of users by country

In [4]:
resp = requests.get('http://127.0.0.1:8000/get_people_count_by_country')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    try:
        display(pd.read_json(resp.text))
    except Exception as e:
        print(resp.text)

    Country  Count
1        CN    353
12       ID    224
14       RU    117
21       PH     92
11       BR     90
..      ...    ...
123      BN      1
124      KM      1
64       KW      1
99       GE      1
153      BH      1

[154 rows x 2 columns]

## Obtain people distribution by gender

In [5]:
resp = requests.get('http://127.0.0.1:8000/get_people_gender_distribution')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    try:
        display(pd.read_json(resp.text))
    except Exception as e:
        print(resp.text)

        Gender  Count  Distribution (%)
2       Female    931         46.503497
0         Male    883         44.105894
4      Agender     43          2.147852
3     Bigender     36          1.798202
6  Genderqueer     29          1.448551
5   Polygender     28          1.398601
1  Genderfluid     27          1.348651
7   Non-binary     25          1.248751

## Obtain ip address distribution over classes

In [6]:
resp = requests.get('http://127.0.0.1:8000/get_ip_address_distribution_by_class')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    try:
        display(pd.read_json(resp.text))
    except Exception as e:
        print(resp.text)

   Count  Distribution (%)
A    969         48.401598
B    494         24.675325
C    266         13.286713
E    151          7.542458
D    122          6.093906

## Obtain most common email domain

In [7]:
resp = requests.get('http://127.0.0.1:8000/get_most_common_domain')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The most commons domains are ['altervista.org'] which occurr 11 times each."

## Obtain correlation between country and domain

In [8]:
resp = requests.get('http://127.0.0.1:8000/get_country_domain_correlation')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The correlation between Country and Domain is 0.000"

## Obtain correlation between domain and gender

In [9]:
resp = requests.get('http://127.0.0.1:8000/get_gender_domain_correlation')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The correlation between Gender and Domain is 0.023"

## Obtain email patters

In [10]:
resp = requests.get('http://127.0.0.1:8000/get_common_email_patterns')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The most common email pattern is: ['flast@domain']."

## Other analysis: Gender-Country correlation

In [11]:
resp = requests.get('http://127.0.0.1:8000/get_gender_country_correlation')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The correlation between Gender and Country is 0.130"

## Other analysis: Gender distribution over countries

In [12]:
resp = requests.get('http://127.0.0.1:8000/get_gender_distribution_by_country')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    try:
        display(pd.read_json(resp.text))
    except Exception as e:
        print(resp.text)

    Country      Gender  Count  Distribution (%)
288      AD        Male      1        100.000000
355      AE    Bigender      1        100.000000
226      AF      Female      2         33.333333
67       AF        Male      4         66.666667
66       AL    Bigender      1          9.090909
..      ...         ...    ...               ...
7        ZA        Male      4         44.444444
255      ZA  Polygender      2         22.222222
106      ZA      Female      2         22.222222
322      ZM        Male      2         66.666667
327      ZM      Female      1         33.333333

[370 rows x 4 columns]