This notebook has been used just to get a fast feedback concerning the functionalities. Thus, in this notebook, no checks are performed for data format.

In [1]:
import requests
from IPython.display import display
import pandas as pd

Creation of a new Person

In [9]:
params = {'first_name' : "Gianmarco",
          'last_name' : "Rossi",
          'gender' : "Male",
          'email' : "grossi@prova.it",
          'ip_address' : "192.168.1.1",
          'country' : "UK"
}

resp = requests.get('http://127.0.0.1:8000/create_person', params)
print(resp.text)

<Response [200]>

Obtain list of users by country

In [40]:
params = {
          'country' : "IT"
}

resp = requests.get('http://127.0.0.1:8000/get_people_by_country', params)
display(pd.read_json(resp.text))

,id,first_name,last_name,email,gender,ip_address
0,476,Jethro,Fantham,jfanthamd7@google.com.au,Male,78.68.144.142
1,1462,Barney,Surridge,bsurridgect@e-recht24.de,Polygender,156.164.194.166
2,3001,Corrado,Fasana,corrado.fasana@prova.it,Male,192.168.2.1
3,3002,Corrado,Fasana,corrado.fasana@prova.it,Malea,127.0.0.1

Obtain count of users by country

In [39]:
params = {
          'country' : "IT"
}

resp = requests.get('http://127.0.0.1:8000/get_people_count_by_country', params)
print(resp.text)

"The number of users for country IT is 4."

Obtain people distribution by gender

In [38]:
resp = requests.get('http://127.0.0.1:8000/get_people_gender_distribution', params)
display(pd.read_json(resp.text))

        Gender  Count  Distribution (%)
0         Male   1322         44.007989
1       Female   1403         46.704394
2   Polygender     47          1.564581
3  Genderfluid     45          1.498003
4      Agender     56          1.864181
5  Genderqueer     42          1.398136
6     Bigender     47          1.564581
7   Non-binary     41          1.364847
8        Malea      1          0.033289

Obtain ip address distribution over classes

In [37]:
resp = requests.get('http://127.0.0.1:8000/get_ip_address_distribution_by_class', params)
display(pd.read_json(resp.text))

   Count  Distribution (%)
A   1477         49.167776
B    747         24.866844
C    380         12.649800
D    186          6.191744
E    214          7.123835

Obtain most common email domain

In [36]:
resp = requests.get('http://127.0.0.1:8000/get_most_common_domain', params)
print(resp.text)

"The most commons domains are ['altervista.org'] which occurr 15 times each."

Obtain correlation between country and domain

In [35]:
resp = requests.get('http://127.0.0.1:8000/get_country_domain_correlation', params)
print(resp.text)

"The correlation between Country and Domain is 0.060"

Obtain correlation between domain and gender

In [34]:
resp = requests.get('http://127.0.0.1:8000/get_gender_domain_correlation', params)
print(resp.text)

"The correlation between Gender and Domain is 0.107"

Obtain email patters

In [48]:
resp = requests.get('http://127.0.0.1:8000/get_common_email_patterns', params)
display(pd.read_json(resp.text))

            Count
f.last          0
first           0
first.l         0
first.last      2
firstl          0
firstlast       0
flast        2947
last            0
last.first      0
lastfirst       0

Other analysis: Gender-Country correlation

In [32]:
resp = requests.get('http://127.0.0.1:8000/get_gender_country_correlation', params)
print(resp.text)

"The correlation between Gender and Country is 0.192"

Other analysis: Gender distribution over countries

In [31]:
resp = requests.get('http://127.0.0.1:8000/get_gender_distribution_by_country', params)
display(pd.read_json(resp.text))

    Country       Gender  Count  Distribution (%)
379      AD         Male      1        100.000000
148      AE         Male      1         50.000000
429      AE     Bigender      1         50.000000
105      AF         Male      7         50.000000
38       AF       Female      7         50.000000
..      ...          ...    ...               ...
412      ZA  Genderqueer      1          7.692308
208      ZA         Male      5         38.461538
96       ZM       Female      2         50.000000
404      ZM         Male      2         50.000000
165      ZW       Female      1        100.000000

[442 rows x 4 columns]