# This notebook is meant to use the developed functionalities.

In [1]:
import requests
from IPython.display import display
import pandas as pd

## Creation of a new Person

In [13]:
params = {'first_name' : 'Camilla',
          'last_name' : 'Boni',
          'gender' : "Female",
          'email' : "camillo.boni@mail.it",
          'ip_address' : "192.168.1.2",
          'country' : "CN"
}

resp = requests.get('http://127.0.0.1:8000/create_person', params)
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"Person created successfully."

## Obtain list of users by country

In [8]:
params = {
          'country' : "CN"
}

resp = requests.get('http://127.0.0.1:8000/get_people_by_country', params)
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
        try:
            display(pd.read_json(resp.text))
        except Exception as e:
            print(resp.text)

     id first_name last_name                 email gender   ip_address
0  3003    Camilla      Boni  camillo.boni@mail.it   Male  192.168.1.2
1  3004    Camilla      Boni  camillo.boni@mail.it   Male  192.168.1.2
2  3005    Camilla      Boni  camillo.boni@mail.it   Male  192.168.1.2
3  3006    Camilla      Boni  camillo.boni@mail.it   Male  192.168.1.2

## Obtain count of users by country

In [9]:
resp = requests.get('http://127.0.0.1:8000/get_people_count_by_country')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    try:
        display(pd.read_json(resp.text))
    except Exception as e:
        print(resp.text)

  Country  Count
0      CN      4
1      FR      4

## Obtain people distribution by gender

In [37]:
resp = requests.get('http://127.0.0.1:8000/get_people_gender_distribution')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    try:
        display(pd.read_json(resp.text))
    except Exception as e:
        print(resp.text)

  Gender  Count  Distribution (%)
0   Male      4               100

## Obtain ip address distribution over classes

In [38]:
resp = requests.get('http://127.0.0.1:8000/get_ip_address_distribution_by_class')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    try:
        display(pd.read_json(resp.text))
    except Exception as e:
        print(resp.text)

   Count  Distribution (%)
C      4               100
A      0                 0
B      0                 0
D      0                 0
E      0                 0

## Obtain most common email domain

In [39]:
resp = requests.get('http://127.0.0.1:8000/get_most_common_domain')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The most commons domains are ['mail.it'] which occurr 4 times each."

## Obtain correlation between country and domain

In [14]:
resp = requests.get('http://127.0.0.1:8000/get_country_domain_correlation')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The correlation between Country and Domain is 1.000"

## Obtain correlation between domain and gender

In [15]:
resp = requests.get('http://127.0.0.1:8000/get_gender_domain_correlation')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The correlation between Gender and Domain is 1.000"

## Obtain email patters

In [42]:
resp = requests.get('http://127.0.0.1:8000/get_common_email_patterns')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"None of the analysed patterns is present in the database."

## Other analysis: Gender-Country correlation

In [43]:
resp = requests.get('http://127.0.0.1:8000/get_gender_country_correlation')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The correlation between Gender and Country is nan"

## Other analysis: Gender distribution over countries

In [24]:
resp = requests.get('http://127.0.0.1:8000/get_gender_distribution_by_country')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    try:
        display(pd.read_json(resp.text))
    except Exception as e:
        print(resp.text)

  Country Gender  Count  Distribution (%)
0      CN   Male      1               100