# This notebook is meant to use the developed functionalities.

In [1]:
import requests
from IPython.display import display
import pandas as pd

## Creation of a new Person

In [3]:
params = {'first_name' : 'Corrado',
          'last_name' : 'Fasana',
          'gender' : "Male",
          'email' : "corrado.fasana@mail.it",
          'ip_address' : "192.168.1.2",
          'country' : "IT"
}

resp = requests.get('http://127.0.0.1:8000/create_person', params)
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"Person created successfully."

## Obtain list of users by country

In [5]:
params = {
          'country' : "IT"
}

resp = requests.get('http://127.0.0.1:8000/get_people_by_country', params)
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
        try:
            display(pd.read_json(resp.text))
        except Exception as e:
            print(resp.text)

,id,first_name,last_name,email,gender,ip_address
0,476,Jethro,Fantham,jfanthamd7@google.com.au,Male,78.68.144.142
1,1462,Barney,Surridge,bsurridgect@e-recht24.de,Polygender,156.164.194.166
2,3001,Corrado,Fasana,corrado.fasana@mail.it,Male,192.168.1.2

## Obtain count of users by country

In [7]:
params = {
          'country' : "FR"
}

resp = requests.get('http://127.0.0.1:8000/get_people_count_by_country', params)
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The number of users for country FR is 90."

## Obtain people distribution by gender

In [8]:
resp = requests.get('http://127.0.0.1:8000/get_people_gender_distribution')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    try:
        display(pd.read_json(resp.text))
    except Exception as e:
        print(resp.text)

        Gender  Count  Distribution (%)
0         Male   1320         43.985338
1       Female   1403         46.751083
2   Polygender     47          1.566145
3  Genderfluid     45          1.499500
4      Agender     56          1.866045
5  Genderqueer     42          1.399533
6     Bigender     47          1.566145
7   Non-binary     41          1.366211

## Obtain ip address distribution over classes

In [9]:
resp = requests.get('http://127.0.0.1:8000/get_ip_address_distribution_by_class')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    try:
        display(pd.read_json(resp.text))
    except Exception as e:
        print(resp.text)

   Count  Distribution (%)
A   1476         49.183605
B    747         24.891703
C    378         12.595801
D    186          6.197934
E    214          7.130956

## Obtain most common email domain

In [10]:
resp = requests.get('http://127.0.0.1:8000/get_most_common_domain')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The most commons domains are ['altervista.org'] which occurr 15 times each."

## Obtain correlation between country and domain

In [11]:
resp = requests.get('http://127.0.0.1:8000/get_country_domain_correlation')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The correlation between Country and Domain is 0.046"

## Obtain correlation between domain and gender

In [12]:
resp = requests.get('http://127.0.0.1:8000/get_gender_domain_correlation')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The correlation between Gender and Domain is 0.032"

## Obtain email patters

In [13]:
resp = requests.get('http://127.0.0.1:8000/get_common_email_patterns')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The most common email pattern is: ['flast@domain']."

## Other analysis: Gender-Country correlation

In [14]:
resp = requests.get('http://127.0.0.1:8000/get_gender_country_correlation')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    print(resp.text)

"The correlation between Gender and Country is 0.123"

## Other analysis: Gender distribution over countries

In [15]:
resp = requests.get('http://127.0.0.1:8000/get_gender_distribution_by_country')
if resp.status_code != 200:
    print(f"Error {resp.status_code}")
else:
    try:
        display(pd.read_json(resp.text))
    except Exception as e:
        print(resp.text)

    Country      Gender  Count  Distribution (%)
379      AD        Male      1        100.000000
148      AE        Male      1         50.000000
429      AE    Bigender      1         50.000000
38       AF      Female      7         50.000000
105      AF        Male      7         50.000000
..      ...         ...    ...               ...
358      ZA  Polygender      2         15.384615
107      ZA      Female      5         38.461538
404      ZM        Male      2         50.000000
96       ZM      Female      2         50.000000
165      ZW      Female      1        100.000000

[440 rows x 4 columns]